<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
     Yayındaki İlanlar
   </h4>
  </div>
  <div class="panel-body">
    <% @notices.each do |notice| %>
      <div class="row">
        <div class="col-md-1 col-sm-1">
          <img src="http://lorempixel.com/50/50/">
        </div>
        <div class="col-md-11 col-sm-11">
          <div class="notice">
            <strong><%= link_to notice.title, notice_path(notice) %></strong>
            <div class="meta">
              <%= link_to time_ago_in_words(notice.created_at) + " önce", notice %> 
              <span class="admin">
                | <%= link_to 'Düzenle', edit_notice_path(notice) %> | 
                <%= link_to "Sil", notice, method: :delete, data: { confirm: 'Are you sure?' } %>
              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>