<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
     <%= @notice.title %>
     <p><i><small>İlan Tarihi: <%= @notice.created_at.strftime("%Y.%m.%d / %H:%M") %></small></i></p>
   </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="container">
        <div class="col-md-4 col-sm-4">
          <img src="http://lorempixel.com/300/300/">
        </div>

        <div class="col-md-4 col-sm-4">
          <%= @notice.message %>
        </div>
        
        <div class="col-md-3 col-sm-3">
          <%= p "satıcı detayları" %>
        </div>
      </div>
    </div>
  </div>
</div>