<p><strong>Merhaba <%= @resource.first_name %>! Şifreni mi unuttun?</strong></p>

<p>
  <%= @resource.email %> adresiyle kayıtlı hesabının şifresini sıfırlamak istediğine dair bir ileti alındı. Şifreni sıfırlamak için aşağıdaki linke tıkla:
</p>

<p>
<%= link_to 'Şifremi Sıfırla', edit_password_url(@resource, :reset_password_token => @token), :class => 'btn btn-info' %>
</p>

<p>
  Talep etmediğin halde çok fazla sayıda şifre sıfırlama e-postası alıyorsan, hesabına yetkisiz biri tarafından erişim sağlanmaya çalışıyor olabilir. Bu durumda hesap ayarlarını gözden geçirmeni öneririz.
</p>

<p>
   Bu mesaj kontrol edilmeyen, robot bir e-posta adresi tarafından gönderilmiştir. Lütfen cevap vermeyin.
</p>

<p>
   <address>Ondokuz Mayıs Üniversitesi, Uzaktan Eğitim Uygulama ve Araştırma Merkezi, Kurupelit / SAMSUN</address>
</p>