<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Kullanıcılar Görüntüleniyor
   </h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <table class="table table-striped">
          <tr>
            <th>Adı - Soyadı</th>
            <th>E-mail Adresi:</th>
            <th>Düzenle</th>
            <th>Sil</th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.full_name, profile_path(user) %></td>
              <td><%= user.email %></td>
              <td>
                <%= link_to edit_admin_user_path(user), :class => 'button white' do %>
                  <span class="glyphicon glyphicon-edit"></span> Kullanıcıyı Düzenle
                <% end %>
              </td>
              <td>
                <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'Silmek istediğinizden emin misiniz? Bu işlem geri alınamaz!'}, :class => 'button white' do %>
                  <span class="glyphicon glyphicon-remove"></span> Kullanıcıyı Sil
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>